body {
  background-color: #f3f3f4;
}

.page { 
}

.filter {
  width: 100%;
  height: 650px;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  top:-600px;
  transition: all .2s ease-in-out;
}

.filter::after{
  content:'';
  position: absolute;
  top: 100%;
  bottom: 0;
  width: 100%;
  height: 10px;
  left: 0;
  right: 0;
  background: radial-gradient(ellipse at 50% 0,rgba(76,76,76,0.3),rgba(97,97,97,0) 70%);
}

.open-filter {
  transform: translateY(600px);
}

.open-filter-btn {
  position: absolute;
  bottom: 0;
}

.filter-item1 { grid-area: left; }
.filter-item2 { 
  grid-area: main; 
  
}
.filter-item3 { grid-area: upperright; }
.filter-item4 { grid-area: lowerright; }

.filter-container {
  display: grid;
  grid-template-areas:
    'left main main main main main upperright upperright'
    'left main main main main main upperright upperright'
    'left main main main main main lowerright lowerright';
  grid-gap: 10px;
  background-color: pink;
  padding: 10px;
  height: 580px;
}
.filter-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 220px 220px 220px 220px;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-top: 80px;
}

.grid-item {
  background-color: #fff;
  position: relative;
  padding: 20px;
  font-size: 20px;
  color: #4e4e4c;
  height: 300px;
  text-transform: capitalize;
  transition: all .2s ease-in-out;
}

.grid-item::after {
    content: '';
    position: absolute;
    top: 100%;
    bottom: 0;
    width: 100%;
    height: 10px;
    left: 0;
    right: 0;
    background: radial-gradient(ellipse at 50% 0,rgba(76,76,76,0.3),rgba(97,97,97,0) 80%);
}

.grid-item:hover {
   transform: scale(1.05);
   cursor: pointer;
}

.img-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}

.img-container > img {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.category1{
  font-size: 12pt;
}

.category2 {
  font-size: 18pt;
}

.status-green, .status-red {
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-size: 10pt;
  text-align: center;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
}

.status-green span, .status-red span {
  position: relative;
  top:3px;
}


.status-green {
  background: #a8e6cf;

}

.status-red {
  background: #e79494;
}

.ribbon-green, .ribbon-red {
    display: block;
    width: 180px;
    height: 20px;
    left: -25px;
    position: relative;
    margin-bottom: 80px;
    top:30px;
    font-size: 10pt;
    text-align: center;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
}

.ribbon-green::before, .ribbon-red::before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    top: -5px;
    left: 0px;
}

.ribbon-green::after, .ribbon-red::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    right: -5px;
}

.ribbon-green::after {
  border-left: 5px solid #96cc9f;
}

.ribbon-red::after {
  border-left: 5px solid #e79494;
}

.ribbon-green::before {
  border-bottom: 5px solid #285e31;
}

.ribbon-red::before {
  border-bottom: 5px solid #a14e4e;
}



.ribbon-green {
  background: #96cc9f;

}

.ribbon-red {
  background: #e79494;
}

.ribbon-green span, .ribbon-red span {
  position: relative;
  top:3px;
}