@media (max-width:1024px){
/*    body {
        background-color: lightblue;
    }	
*/

body {
  background-color: #f3f3f4;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.page { 
}

.filter {
  width: 100%;
  height: 650px;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  top:-600px;
  transition: all .2s ease-in-out;
}

.filter::after{
  content:'';
  position: absolute;
  top: 100%;
  bottom: 0;
  width: 100%;
  height: 10px;
  left: 0;
  right: 0;
  background: radial-gradient(ellipse at 50% 0,rgba(76,76,76,0.3),rgba(97,97,97,0) 70%);
}

.open-filter {
  transform: translateY(600px);
}

.open-filter-btn-wrapper{
  width: 100%;
  text-align: center;
}

.open-filter-btn, .close-filter-btn {
  position: absolute;
  bottom: 4px;
  border: none;
  font-size: 30pt;
  background-color: Transparent;
  transition: all 0.4s ease-in-out;
  color:pink;
}

button:focus {
  outline:0;
}

button:hover, .icon:hover {
  cursor: pointer;
}

.close-filter-btn{
  transform: rotate(180deg);
}


.filter-item1 { 
  grid-area: left;
}
.filter-item2 { 
  grid-area: main; 
}

.filter-item3 { 
  grid-area: upperright; 
}

.filter-item4 { 
  grid-area: lowerright; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-btn-container {
  width: 600px;
  height: 500px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 115px);
  justify-content: space-around;
  grid-auto-rows: 80px;
  max-height: 100%;
  overflow: scroll;
  /*border-top: 1px solid #dedede;*/
  padding: 9px 10px 0 0;
}

.borderRight {
  border-right: 0.5px solid #dedede;
  position: absolute;
  width: 180px;
  top:0%;
  bottom: 10%;
  z-index: -1;
}

.borderLeft {
  border-right: 0.5px solid #dedede;
  position: absolute;
  width: 610px;
  top:0%;
  bottom: 10%;
  z-index: -1;
}

.filter-container {
  display: grid;
  grid-template-areas:
    'left main upperright'
    'left main lowerright';
  grid-template-columns: 180px 1fr 200px ;
  grid-gap: 10px;
  /*background-color: pink;*/
  padding: 10px;
  height: 580px;
}
.filter-container > div {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  text-align: center;
  font-size: 30px;
  padding: 0px 0;
}

.header-btn-container{
  display: inline;
  width: 100%;
  float:left;
}

.header-btn-container:after {
    content: "";
    display: block;
    width: 600px;
    border-top: 1px solid #dedede;
	z-index: -1;
	top:34px;
	position: relative;
}

.header-btn{
  width: 116px;
  height: 35px;
  display: block;
  float:left;
  font-size: 10pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-right: 5px;
  border-radius: 3px;
  border: 1px solid #dedede;
  background-color: #fff;
  color: #787878;
  border-bottom: 0px;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.filter-btn-main {
  display:block;
  margin: 2px 0px 2px 10px;
  border:none;
  border-radius: 15px;
  background-color: #37033b;
  color: white;
  padding:7px 30px 7px 10px;
  animation: pop 0.3s linear 1;
  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  text-transform: capitalize;
}

@keyframes pop{
  50%  {transform: scale(1.1);}
}

.filter-btn-sub {
  display:block;
  margin: 2px 0px 2px 30px;
  border:none;
  border-radius: 15px;
  background-color: #16998c;
  color:white;
  padding:7px 30px 7px 10px;
  animation: pop 0.3s linear 1;
  font-size: 10pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  text-transform: capitalize;
}

.remove{
  font-size: 14pt;
  margin: -4px;
  left:20px;
  top:-2px;
  position: relative;
}

.category-btn{
  border: none;
  border-radius: 3px;
  background-color: #97d6e8;
  color:#fff;
  font-size:20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

  text-transform: capitalize;
	  word-wrap: break-word;
  overflow-wrap: break-word;
	-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

/*.category-btn:focus{
  background-color: #16998c;
}*/

.category-back-btn{
  font-size: 60pt;
  color: #a1c7c5;
  left:15px;
  position: relative;
}

.price-btn-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 45px);
  grid-auto-rows: 45px;
  margin-right: 5px;
  padding: 10px 0px 0 0;
}

.price-btn{
  border: none;
  border-radius: 3px;
  background-color: #37033b;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #dedede;
  padding-top: 3px;
}

.price-title {
	font-size: 12pt;
	text-transform: uppercase;
  	font-family: 'Roboto', sans-serif;
  	font-weight: 500;
  	color: #787878;
  	padding: 0;
  	letter-spacing: 1px;
  	margin-bottom: 5px;
  	padding: 5px 0 5px 0;
}


.price-title,span {
	left:-20px;
	position: relative;
}

.available-btn{
  border: none;
  border-radius: 3px;
  display:block;
  height: 50px;
  width: 195px;
  margin: 0px 15px 15px 10px;
  font-size: 14pt;
  position: relative;
  top:-8px;
}

.active-btn {
	background-color: hotpink;
}



/* ===================== ITEMS ==================== */


.back-to-menu-btn{
  position: fixed;
  top:80px;
  left:20px;
  color:#787878;
  font-size: 40pt;
}

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 220px 220px 220px 220px;
  justify-content: center;
  /*font-family: 'Roboto', sans-serif;
  font-weight: 300;*/
  padding-top: 80px;
  overflow: scroll;
}

.grid-item, .grid-item-expand {
  background-color: #fff;
  position: relative;
  padding: 20px;
  font-size: 20px;
  color: #4e4e4c;
  height: 300px;
  text-transform: capitalize;
  transition: all .2s ease-in-out;
}

.grid-item::after {
    content: '';
    position: absolute;
    top: 100%;
    bottom: 0;
    width: 100%;
    height: 10px;
    left: 0;
    right: 0;
    background: radial-gradient(ellipse at 50% 0,rgba(76,76,76,0.3),rgba(97,97,97,0) 80%);
}

.grid-item:hover {
   transform: scale(1.03);
   cursor: pointer;
}

.grid-item-expand {
    width: 440px;
}

.img-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}

.img-container > img {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.category1{
  font-size: 12pt;
}

.category2 {
  font-size: 18pt;
}

.category3 {
  font-size: 12pt;
}

.status-green, .status-red {
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-size: 10pt;
  text-align: center;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
}

.status-green span, .status-red span {
  position: relative;
  top:3px;
}


.status-green {
  background: #a8e6cf;

}

.status-red {
  background: #e79494;
}

.ribbon-green, .ribbon-red {
    display: block;
    width: 180px;
    height: 20px;
    left: -25px;
    position: relative;
    margin-bottom: 80px;
    top:10px;
    font-size: 10pt;
    text-align: center;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
}

.ribbon-green::before, .ribbon-red::before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    top: -5px;
    left: 0px;
}

.ribbon-green::after, .ribbon-red::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    right: -5px;
}

.ribbon-green::after {
  border-left: 5px solid #96cc9f;
}

.ribbon-red::after {
  border-left: 5px solid #e79494;
}

.ribbon-green::before {
  border-bottom: 5px solid #285e31;
}

.ribbon-red::before {
  border-bottom: 5px solid #a14e4e;
}



.ribbon-green {
  background: #96cc9f;

}

.ribbon-red {
  background: #e79494;
}

.ribbon-green span, .ribbon-red span {
  position: relative;
  top:3px;
}






/* -------- MENU --------- */
.menu-wrapper{
  text-align: center;
  position: absolute;
  top: 35%;
  width: 100%;
}

.menu-btn{
  border: none;
  width: 200px;
  height: 60px;
  margin: 5px 0;
  font-size: 20pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  background-color: #16998c;
  border-radius: 3px;
}




}
